<!DOCTYPE html>
html(lang="en" ng-app="app")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  head
    title Food Time
    link(rel="stylesheet", href="css/dependente.css")
  body
    ui-view
  script(src="js/dependente.js")  
  script(src="js/templates.js")  
  script(src="js/scripts.js")  